.main-theme-color {
    background-color: #d293a5 !important;
}

.no-padding {
    padding: 0px;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

body .web-content {
    background-color: white;
    margin: 20px 20px 0px;
    border-radius: 5px;
}

nav .active-link {
    background-color: #C37894;
}

nav .top-nav {
    padding: 20px;
}
nav .top-nav img {
    width: 400px;
}

@media(max-width: 768px) {
    nav .top-nav img {
        width: 200px;
    }
    button {
        font-size: 10px;
    }
}

nav .top-nav .web-title {
    color: #a33a3d;
    font-size: 21px;
}

nav .top-nav .web-title .welcome {
    color: #e5c1cb;
}

.welcoming-carousel img {
    width: 100%;
}

.content-wrapper {
    margin-bottom: 20px;
}

.content-header {
    font-size: 25px;
}

.content-items .content-item:nth-child(3n+1) {
    padding-left: 0px;
}
.content-items .content-item:nth-child(3n) {
    padding-right: 0px;
}

@media(max-width: 768px) {
    .content-item {
        padding-left: 0px;
        padding-right: 0px;        
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .content-items .content-item:nth-child(2n+1) {
        padding-right: 8px;
    }
}

.content-item {
    padding-bottom: 15px;
}

.content-item img {
    width: 100%;
}

.content-item .content-description {
    background-color: white;
}

.content-item .content-description p {
    text-align: left !important;
}

section.content .content-wrapper {
    background-color: #d9d9d9;
}

table {
    margin-bottom: 15px;
}

footer {
    color: white;
    background-color: rgb(84, 28, 48);
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;    
}

footer p {
    margin: 0px;
}

footer img {
    width: 35%;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media(max-width: 1024px) {
    footer img {
        width: 80%;
    }
}
